<h1 class="main-logo">ユーザー情報編集</h1>
<div class="main users-edit">
  <div class="container">
    <div class="form-top">
      <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
      <% end %>
    </div>
    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <div class="users-edit-body">
      <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
      <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
      <p>画像</p>
        <input name="image" type="file">
      <p>紹介文</p>
        <textarea name="user_text" rows="8" cols="80"><%= @user.user_text %></textarea>
    </div>
    <div class="users-edit-bottom">
      <input class="user-edit-button" type="submit" value="保存">
    </div>
    <% end %>
  </div>
</div>
