<h1 class="main-logo">プロフィール</h1>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <div class="user-info">
        <div class="user-left">
          <img src="<%= "/user_images/#{@user.image_name}" %>">
        </div>
        <div class="user-right">
          <h2><%= @user.name %></h2>
          <p><%= @user.email %></p>
        </div>
      </div>
      <div class="user-text">
        <p><%= @user.user_text %></p>
      </div>
      <div class="user-info-edit">
        <% if @user.id == @current_user.id %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-tabs">
    <div class="tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}")%></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("フォロー", "/users/#{@user.id}/follows") %></li>
      <li class="active"><%= link_to("フォロワー", "/users/#{@user.id}/followers") %></li>
    </div>

    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="users-index-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="users-index-right">
          <div class="users-index-name">
            <%= link_to(user.name, "/users/#{user.id}")%>
          </div>
          <div class="users-index-text">
            <% User.find_by(id: user.id) %>
            <%= user.user_text %>
          </div>
          <% if @current_user != user %>
            <% if user.followed_by?(@current_user) %>
              <%=link_to(user_relationships_path(user.id), method: :delete) do %>
              <span class="fas fa-check-circle"></span>
              <% end %>
            <% else %>
              <%=link_to(user_relationships_path(user.id), method: :post) do %>
              <span class="far fa-check-circle"></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
