<h1 class="main-logo">プロフィール</h1>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <div class="user-info">
        <div class="user-left">
          <%= image_tag(show_image_user_path(params[:id])) %>
        </div>
        <div class="user-right">
          <h2><%= @user.name %></h2>
          <p><%= @user.email %></p>
        </div>
      </div>
      <div class="user-text">
        <p><%= @user.user_text %></p>
      </div>
      <div class="user-info-edit">
        <% if @user.id == @current_user.id %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-tabs">
    <div class="tabs">

      <li class="active"><%= link_to("投稿", "/users/#{@user.id}")%></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("フォロー", "/users/#{@user.id}/follows") %></li>
      <li><%= link_to("フォロワー", "/users/#{@user.id}/followers") %></li>
    </div>

    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
      <div class="post-left">
        <%= image_tag(show_image_user_path(params[:id])) %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}")%>
        </div>
        <div class="post-user-content">
          <%= simple_format(link_to(post.content, "/posts/#{post.id}")) %>
        </div>
        <div class="post-index-bottom">
          <div class="post-icon">
            <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
              <%= link_to("/likes/#{post.id}/destroy_index") do %>
              <span class="fa fa-heart like-btn-unlike"></span>
              <% end %>
            <% else %>
              <%= link_to("/likes/#{post.id}/create_index") do %>
              <span class="fa fa-heart like-btn"></span>
              <% end %>
            <% end %>
          </div>
          <div class="post-count">
            <%= Like.where(post_id: post.id).count %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
