<h2 class="main-logo">投稿検索</h2>
<div class="search-tabs">
  <li class="active"><%= link_to("投稿検索", "/posts/search")%></li>
  <li><%= link_to("ユーザー検索", "/users/search") %></li>
</div>
<div class="post_user_search">
  <%= form_tag "/posts/search", :method => 'get' do %>
    <%= text_field_tag :search, '', class: "search-form" %>
    <%= submit_tag 'Search', :name => nil, class: "search-button" %>
  <% end %>
</div>
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <%= image_tag(show_image_user_path(post.user_id)) %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}")%>
          </div>
          <div class="post-user-content">
            <%= simple_format(link_to(post.content, "/posts/#{post.id}")) %>
          </div>
          <div class="post-index-bottom">
            <div class="post-icon">
              <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                <%= link_to("/likes/#{post.id}/destroy_index") do %>
                <span class="fa fa-heart like-btn-unlike"></span>
                <% end %>
              <% else %>
                <%= link_to("/likes/#{post.id}/create_index") do %>
                <span class="fa fa-heart like-btn"></span>
                <% end %>
              <% end %>
            </div>
            <div class="post-count">
              <%= Like.where(post_id: post.id).count %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @posts_page %>
  </div>
</div>
