<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="posts-show-top">
        <div class="post-user-name">
          <%= image_tag(show_image_user_path(@post.user_id)) %>
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        </div>
      </div>
      <div class="posts-show-body">
        <p>
          <%= @post.content %>
        </p>
      </div>
      <div class="posts-show-bottom">
        <div class="post-time">
          <%= time_ago_in_words(@post.created_at) %>
        </div>
        <div class="post-icon">
          <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
            <%= link_to("/likes/#{@post.id}/destroy") do %>
            <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{@post.id}/create") do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
        </div>
        <div class="post-count">
          <%= @likes_count %>
        </div>
        <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
            <%= link_to("編集", "/posts/#{@post.id}/edit") %>
            <%= link_to("削除", "/posts/#{@post.id}/destroy") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
