<!DOCTYPE html>
<html>
  <head>
    <title>Exposer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">Exposer</div>
      <ul class="header-menus">
        <% if session[:user_id] %>
        <li>
          <%= link_to("ホーム", "/") %>
        </li>
        <li>
          <%= link_to("プロフィール", "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("Expose!", "/posts/new") %>
        </li>
        <li>
          <%= link_to("ユーザーリスト", "/users/index") %>
        </li>
        <li>
          <%= link_to("ログアウト", "/logout", {method: :post}) %>
        </li>
        <% else %>
        <li>
          <%= link_to("Exposerについて", "/about") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="main">
      <% if flash[:notice] %>
    　  <div class="flash">
    　    <%= flash[:notice] %>
    　  </div>
    　<% end %>
    　<%= yield %>
    </div>
    <div class="ranking">
      <h2 class="main-logo">人気の投稿</h2>
      <div class="main posts-index">
        <div class="container">

        </div>
      </div>
    </div>
  </body>
</html>
