<!DOCTYPE html>
<html>
  <head>
    <title>Exposer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  </head>
  <body>
    <div class="header">
      <div class="app-title">
        <%= embedded_svg("title_icon.svg", class: "good-svg") %>
        <div class="header-logo">Exposer</div>
      </div>
      <ul class="header-menus">
        <% if session[:user_id] %>
        <li>
          <span class="fas fa-home"></span>
          <%= link_to("ホーム", "/") %>
        </li>
        <li>
          <span class="far fa-address-card"></span>
          <%= link_to("プロフィール", "/users/#{@current_user.id}") %>
        </li>
        <li>
          <span class="fas fa-volume-up"></span>
          <%= link_to("Expose!", "/posts/new") %>
        </li>
        <li>
          <span class="fas fa-search"></span>
          <%= link_to("投稿&ユーザー検索","/posts/search")%>
        </li>
        <li>
          <span class="fas fa-list"></span>
          <%= link_to("ユーザーリスト", "/users/index") %>
        </li>
        <li>
          <span class="fas fa-sign-out-alt"></span>
          <%= link_to("ログアウト", "/logout") %>
        </li>
        <% else %>
        <li>
          <span class="fas fa-info-circle"></span>
          <%= link_to("Exposerについて", "/about") %>
        </li>
        <li>
          <span class="fas fa-user-plus"></span>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <span class="fas fa-sign-in-alt"></span>
          <%= link_to("ログイン", "/login") %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="main">
      <% if flash[:notice] %>
    　  <div class="flash">
    　    <%= flash[:notice] %>
    　  </div>
    　<% end %>
    　<%= yield %>
    </div>
    <div class="ranking">
      <h2 class="main-logo">人気の投稿</h2>
        <%= render partial: 'shared/ranking'  %>
    </div>
  </body>
</html>
